<div class="pages container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>