<div class="row justify-content-center">
    <div class="col-sm-10">
        <h3 class="mb-4">Agregar un automovil</h3>
        <form [formGroup]="Form" validate (submit)="onSubmit()">
            <div class="form-group">
                <label>Nombre</label>
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Nombre del Dispositivo"
                    formControlName="name">
            </div>
            <div class="form-group">
                <label>Número GPS</label>
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Número de teléfono"
                    formControlName="uniqueId">
            </div>
            <div class="form-group">
                <label>Modelo</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Modelo del automovil"
                    formControlName="model">
            </div>
            <div class="form-group">
                <label>Categoria</label>
                <select class="form-control"
                formControlName="category">
                    <option value="car">Auto</option>
                    <option value="camion">Camion</option>
                    <option value="camioneta">Camioneta</option>
                </select>
            </div>
            <div class="form-group">
                <label>Información adicional</label>
                <textarea 
                    cols="8"
                    class="form-control"
                    placeholder="Información adicional"
                    formControlName="information"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>