<form class="row" (submit)="login()" [formGroup]="Form">
    <div class="wrapper">
        <div class="cardShadow">
            <div class="circle circle1"></div>
            <div class="circle circle2"></div>
            <div class="block1">
                <div class="logo">
                    <h1>LOGIN</h1>
                </div>
                <input type="text" placeholder="Usuario" formControlName="username">
                <input type="password" placeholder="Password" formControlName="password">
                <button type="submit">Ingresar</button>
            </div>
        </div> 
    </div>
</form>

