<div class="row header">
    <div class="col-sm-2">
        <img src="assets/img/logo.png" alt="logo" class="img-fluid">
    </div>
    <div class="col-sm-8">
        <h3 class="text-center">Panel de control</h3>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary blue-btn" (click)="backmap()">Volver al mapa</button>
    </div>
</div>
<div class="row content">
    <div class="col-sm-2 user-list">
        <h3 class="user-title">Usuarios</h3>
        <ul>
            <li *ngFor="let item of groups_parsed" class="user-item">
                <a class="{{ item.active ? 'active' : ''}}" (click)="setActive(item)">
                    <img src="assets/img/man.png" alt="man">
                    <span>{{item.name}}</span>
                </a>
                <ul *ngIf="item.subgroups.length > 0 && item.active">
                    <li *ngFor="let sub of item.subgroups" class="user-item">
                        <a class="{{ sub.active ? 'active' : ''}}" (click)="setActive2(item, sub)">
                            <img src="assets/img/man.png" alt="man">
                            <span>{{sub.name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-10 tables">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <mat-tab-group>
                    <mat-tab label="Conductores">
                        <app-list-drivers [groupSelected]="groupSelected" *ngIf="listClient" (action)="actionReceived($event)"></app-list-drivers>
                        <app-add-client [groupSelected]="groupSelected" *ngIf="addClient" (action)="actionReceived($event)"></app-add-client>
                        <app-edit-client [groupSelected]="groupSelected" *ngIf="editClient" (action)="actionReceived($event)"></app-edit-client>
                    </mat-tab>
                    <mat-tab label="Vehiculos">
                        <app-list-cars [groupSelected]="groupSelected" *ngIf="listCars" (action)="actionReceived($event)"></app-list-cars>
                        <app-add-car [groupSelected]="groupSelected" *ngIf="addCars" (action)="actionReceived($event)"></app-add-car>
                        <app-edit-car [groupSelected]="groupSelected" *ngIf="editCars" (action)="actionReceived($event)"></app-edit-car>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>