.header {
    border-top: 5px solid #005b82;
    border-bottom: 5px solid #005b82;
    padding-top: 15px;
    padding-bottom: 15px;
    h3 {
        margin-top: 1rem;
        font-weight: bold;
        color: #005b82;
    }
}
.blue-btn {
    background: #005b82;
    border-color: #005b82;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: .5rem;
}
.content {
    height: calc(100vh - 100px);
    margin: 0;
}
.user-list {
    border-right: 2px solid #a9aaaa;
    padding: 0;
    .user-title {
        font-size: 1.15rem;
        color: #005b82;
        font-weight: bold;
        margin-top: .5rem;
        margin-bottom: 1rem;
        padding-left: 15px;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    .user-item:first-child {
        border-top: 1px solid #a9aaaa;
    }
    .user-item a:hover {
        background: #005b82;
        border-color: #005b82;
        span {
            color: #ffffff;
            font-weight: 500;
        }
    }
    .user-item {
        cursor: pointer;
        border-bottom: 1px solid #a9aaaa;
        padding: .5rem 15px;
        a.active {
            background: #005b82;
            border-color: #005b82;
            span {
                color: #ffffff;
                font-weight: 500;
            }
        }
        a {
            display: block;
            width: 100%;
            img{
                width: 1.25rem;
                margin-right: .5rem;
                display: inline-block;
                vertical-align: baseline;
            }
            span{
                display: inline-block;
                font-size: .9rem;
                vertical-align: text-bottom;
                font-weight: 500;
                color: #005b82;
            }
        }
        ul {
            li {
                border: none;
            }
        }
    }
}

.tables {
    padding: 0;
    .nav-tabs-wrapper {
        margin: 0;
    }
}