<div class="row justify-content-center cont">
    <div class="col-sm-10">
        <h3 class="mb-4">Editar un cliente</h3>
        <form [formGroup]="Form" validate (submit)="onSubmit()">
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" class="form-control" placeholder="Nombre del Usuario para login"
                    autocomplete="new-password" formControlName="user">
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre del cliente" formControlName="name">
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña del Usuario para login"
                    autocomplete="new-password" formControlName="password">
            </div>

            <div class="form-group">
                <label>Repetir Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña del Usuario para login"
                    autocomplete="new-password" formControlName="repassword">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-warning ml-2" (click)="cancel()">Cancelar</button>
        </form>
    </div>
</div>