.row {
  transition: 0.5s all ease-in-out;
  height: 100%;
}
.row * {
  transition: 0.5s all ease-in-out;
}
.row .col {
  height: 100%;
  padding: 0;
}
.row .col .row {
  margin: 0;
  height: 100%;
}
.row .col .row .devices_list {
  height: 100%;
  padding: 0;
  overflow: hidden;
}
.row .col .row .devices_list .head {
  height: 2.25rem;
  margin: 0;
  background: #51bcda;
  padding-top: .5rem;
}
.row .col .row .devices_list .head h2 {
  display: inline;
  color: #ffffff;
  font-size: .9rem;
  font-weight: bold;
  padding-left: .5rem;
}
.row .col .row .devices_list .head .icons {
  text-align: right;
}
.row .col .row .devices_list .head .icons .icon {
  margin-right: 1rem;
  color: #ffffff;
  cursor: pointer;
  padding: .15rem .25rem;
}
.row .col .row .devices_list .content {
  display: flex;
}
.row .col .row .devices_list .content table {
  display: flex;
  flex-flow: column;
  width: calc(85%);
}
.row .col .row .devices_list .content thead {
  flex: 0 0 auto;
}
.row .col .row .devices_list .content tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.row .col .row .devices_list .content tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.row .col .row .device_info {
  height: 100%;
  padding-left: 0;
  padding-right: 15px;
  overflow: auto;
}
.row .col .row .device_info .head {
  height: 10%;
  margin: 0;
  background: #51bcda;
  padding-top: .5rem;
}
.row .col .row .device_info .head h2 {
  display: inline;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding-left: .5rem;
}
.row .col .row .device_info .content {
  max-height: 90%;
  display: flex;
}
.row .col .row .device_info .content table {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.row .col .row .device_info .content thead {
  flex: 0 0 auto;
}
.row .col .row .device_info .content tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.row .col .row .device_info .content tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.row.open {
  margin-left: -15px;
}
.row.open * {
  margin-left: 0;
}
.row.closed {
  margin-left: -999px;
}
.row.closed * {
  margin-left: -999px;
}
.table .active {
  background: #3c944c7a !important;
  color: #ffffff !important;
  font-weight: bold;
}
.table .offline {
  color: #9c9c9c;
  font-weight: bold;
}
.table .online {
  color: #68EDC1;
  font-weight: bold;
}
.maingroup {
  width: 100%;
  list-style: none;
  padding-left: 0;
}
.maingroup .groupname {
  padding-left: 1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  background: #005b82;
  display: block;
  color: #ffffff;
}
.maingroup .groupname i {
  margin-right: .5rem;
}
.maingroup .devicename.active {
  background: rgba(76, 175, 80, 0.46);
}
.maingroup .devicename {
  padding-top: .5rem;
  padding-bottom: .5rem;
  cursor: pointer;
}
.maingroup ul {
  list-style: none;
  padding-left: 0;
}
.maingroup ul li {
  padding-left: 1rem;
}
.maingroup ul li ul {
  padding-left: 0;
}
.maingroup ul li ul li {
  padding-left: 2rem;
}
