<div class="row {{show ? 'open' : 'closed'}}">
    <div class="col">
        <div class="row">
            <div class="col-sm-12 mt-4">
                <img src="assets/img/logo.png" alt="logo" class="img-fluid">
            </div>
            <div class="col-sm-12 devices_list mt-4">
                <div class="head row">
                    <div class="col-sm-12">
                        <h2 class="title">Dispositivos</h2>
                    </div>
                    
                </div>
                <div class="content">
                    <ul class="maingroup">
                        <li *ngFor="let group of groups_parsed">
                            <a class="groupname" (click)="selectGroup(group)"><i class="fas fa-user"></i> {{ group.name }}</a>
                            <ul class="subgroup" *ngIf="group.subgroups.length > 0">
                                <li *ngFor="let subgroup of group.subgroups">
                                    <a class="groupname" (click)="selectSubGroup(subgroup)"><i class="fas fa-user"></i> {{ subgroup.name }}</a>
                                    <ul class="device" *ngIf="subgroup.devices.length > 0">
                                        <li class="devicename {{ idSelected == dev.id ? 'active' : '' }}" *ngFor="let dev of subgroup.devices" (click)="selectDevice(dev.id)" ><i class="fas fa-taxi"></i> {{ dev.name }}</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="device" *ngIf="group.devices.length > 0">
                                <li class="devicename {{ idSelected == dev.id ? 'active' : '' }}" *ngFor="let dev of group.devices" (click)="selectDevice(dev.id)"><i class="fas fa-taxi"></i> {{ dev.name }}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>