.row {
    transition: .5s all ease-in-out;
    height: 100%;
    * {
        transition: .5s all ease-in-out;
    }
    .col {
        height: 100%;
        padding: 0;
        .row {
            margin: 0;
            height: 100%;
            .devices_list {
                height: 100%;
                padding: 0;
                overflow: hidden;
                .head {
                    height: 2.25rem;
                    margin: 0;
                    background: #51bcda;
                    padding-top: .5rem;

                    h2 {
                        display: inline;
                        color: #ffffff;
                        font-size: .9rem;
                        font-weight: bold;
                        padding-left: .5rem;
                    }

                    .icons {
                        text-align: right;
                        .icon {
                            margin-right: 1rem;
                            color: #ffffff;
                            cursor: pointer;
                            padding: .15rem .25rem;
                        }
                    }
                }
                .content {
                    display: flex;
                    table {
                        display: flex;
                        flex-flow: column;
                        width: calc(100% - 15px);
                    }
                    
                    thead {
                        flex: 0 0 auto;
                    }
                    
                    tbody {
                        flex: 1 1 auto;
                        display: block;
                        overflow-y: auto;
                        overflow-x: hidden;
                    }
                    
                    tr {
                        width: 100%;
                        display: table;
                        table-layout: fixed;
                    }
                }
            }
            .device_info {
                height: 100%;
                padding-left: 0;
                padding-right: 15px;
                overflow: auto;

                .head {
                    height: 10%;
                    margin: 0;
                    background: #51bcda;
                    padding-top: .5rem;

                    h2 {
                        display: inline;
                        color: #ffffff;
                        font-size: 1rem;
                        font-weight: bold;
                        padding-left: .5rem;
                    }
                }
                .content {
                    max-height: 90%;
                    display: flex;
                    table {
                        display: flex;
                        flex-flow: column;
                        width: 100%;
                    }
                    
                    thead {
                        flex: 0 0 auto;
                    }
                    
                    tbody {
                        flex: 1 1 auto;
                        display: block;
                        overflow-y: auto;
                        overflow-x: hidden;
                    }
                    
                    tr {
                        width: 100%;
                        display: table;
                        table-layout: fixed;
                    }
                }
            }
        }
    }
}

.row.open {
    margin-left: -15px;
    * {
        margin-left: 0;
    }
}

.row.closed {
    margin-left: -999px;
    * {
        margin-left: -999px;
    }
}

.table {
    .active {
        background: #3c944c7a !important;
        color: #ffffff !important;
        font-weight: bold;
    }
    .offline {
        color: #9c9c9c;
        font-weight: bold;
    }
    .online {
        color: #68EDC1;
        font-weight: bold;
    }
}

.maingroup {
    width: 100%;
    list-style: none;
    padding-left: 0;
    .groupname {
        padding-left: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        background: #005b82;
        display: block;
        color: #ffffff;
        i {
            margin-right: .5rem;
        }
    }
    .devicename.active {
        background: rgba(76, 175, 80, 0.46);
    }
    .devicename {
        padding-top: .5rem;
        padding-bottom: .5rem;
        cursor: pointer;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            padding-left: 1rem;
            ul {
                padding-left: 0;
                li {
                    padding-left: 2rem;
                }
            }
        }
    }
}