<div class="row map-container">
    <div class="col-sm-12 map-block">
        <!-- <div id="map" class="map"></div> -->
        <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng" [mapTypeControl]='true'>
            <agm-marker *ngFor="let car of carsArray"
                [animation]="DROP"
                [agmFitBounds]="true"
                [latitude]="car.latitude"
                [longitude]="car.longitude"
                [iconUrl]="{
                    url: './assets/cars/' + car.status + '/car_' + car.status + '_' + car.course +'.png'
                  }"
            >
                <agm-info-window 
                    [disableAutoPan]="car.autopan"
                    [isOpen]="true"
                    [latitude]="car.latitude" 
                    [longitude]="car.longitude">
                    {{ car.name }}<br>{{ car.speed }} km/h<br><br><b>{{ car.totalDistance }} Km</b>
                </agm-info-window>
            </agm-marker>
            
            <agm-polyline *ngFor="let line of linesList" [strokeColor]="line.color">
                <agm-polyline-point *ngFor="let point of line.points" [latitude]="point.latitude" [longitude]="point.longitude">
                </agm-polyline-point>
            </agm-polyline>
        </agm-map>
    </div>
</div>