<div class="row justify-content-center">
    <div class="col-sm-10">
        <h3 class="mt-3 mb-3">Lista de Autos</h3>
        <ng2-smart-table 
            [settings]="settings"
            [source]="source"
            (create)="onCreate($event)"
            (edit)="onEdit($event)"
            (delete)="onDelete($event)">
        </ng2-smart-table>
    </div>
</div>