<div class="row home">
    <div class="col-sm-12 home_content">
        <div class="row device-map-cont {{openHistory ? 'historyopen' : 'historyclosed' }}">
            <div class="col-sm-2 devices {{ openDevice ? 'open' : 'closed'}}">
                <div class="title bg-dark"><span>Dispositivos</span></div>
                <div class="v-separator">
                    <a class="arrow" (click)="toggleDevice()">
                        <img src="/assets/arrow.png">
                    </a>
                </div>
                <app-devices class="device_cont"
                    [show]="openDevice"
                    (outpositions)="positionsReceived($event)"
                    (outDeviceId)="getDeviceId($event)"
                    (outDevices)="getDevices($event)"
                ></app-devices>
            </div>
            <div class="col bg-secondary map">

                <a id="toggle" class="{{ classToggle }}" (click)="toggleMenu()"><span></span></a>

                <div class="menu-cont">
                    <div id="menu" class="{{ classToggle }}">
                        <ul>
                            <li *ngIf="is_admin"><a (click)="newUser()">Panel de administracion</a></li>
                            <li><a (click)="logout()">cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
                
                <app-map [tableRoutes]="tableRoutes" [historyOpen]="openHistory" [deviceOpen]="openDevice" [positions]="positions" [deviceId]="deviceId" [devices]="devices"></app-map>
            </div>
        </div>
        <div class="row historial-cont {{ openHistory ? 'open' : 'closed' }}">
            <div class="col-sm-12 historial">
                <div class="title bg-dark"><span>Reportes</span></div>
                <div class="h-separator">
                    <a class="arrow" (click)="toggleHistory()">
                        <img [@historyArrow]="openHistory ? 'open' : 'closed'" src="/assets/arrow.png">
                    </a>
                </div>
                <app-reports [show]="openHistory" (outReport)="reportReceived($event)" (outtable)="tableReceived($event)"></app-reports>
            </div>
        </div>
    </div>
</div>