.home {
    height: 100vh;
    .home_content {
        height: 100%;
    }

    .device-map-cont.historyopen {
        height: 70%;
    }

    .device-map-cont.historyclosed {
        height: calc(100% - 45px);
    }
    .device-map-cont {
        max-height: 100vh;
        height: 70%;
        transition: all .5s ease-in-out;
    
        .devices, .map {
            height: 100%;
            position: relative;
        }

        .devices.open {
            flex: 0 0 25%;
            .title { 
                margin-left: -100%;
            }
            .v-separator {
                .arrow {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
            .device_cont {
                overflow: visible;
                width: 100%;
            }
        }
        .devices.closed {
            flex: 0 0 38px;
            .title { 
                display: block;
                margin-left: 0;
            }
            .v-separator {

                .arrow {
                    img {
                        transform: rotate(0);
                    }
                }
            }
            .device_cont {
                overflow: hidden;
                width: 0;
            }
        }

        .device_cont {
            transition: 1ms all ease-in-out;
        }
    
        .devices {
            padding-right: 15px;
            transition: all .5s ease-in-out;
            .title {
                color: white;
                height: 100%;
                position: absolute;
                width: 30px;
                height: 100%;
                top: 0;
                left: 0;
                margin: 0;
                padding-top: 30px;
                transition: .5s all ease-in-out;
                span {
                    display: block;
                    transform: rotate(90deg);
                    font-size: 1.25rem;
                }
            }
            .v-separator {
                width: 8px;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: flex;
                align-items: center;
                z-index: 9999;
                background: #fbc658;
                .arrow {
                    background: rgba(255, 255, 255, .7);
                    padding-top: 15px;
                    padding-bottom: 15px;
                    width: 8px;
                    text-align: center;
                    cursor: pointer;
                    img {
                        width: 7px;
                        transform: rotate(180deg);
                        transition: .5s all ease-in-out;
                    }
                }
            }
        }
    
        .map {
            max-width: 100%;
        }
    }

    .historial-cont.open {
        max-height: 30vh;
        height: 100%;
        .title { 
            bottom: -100% !important;
        }
        .h-separator {
            .arrow {
                img {
                    transform: rotate(90deg);
                }
            }
        }
        .device_cont {
            overflow: visible;
            width: 100%;
        }
    }

    .historial-cont.closed {
        max-height: 40px;
        .title { 
            bottom: 0 !important;
        }
        .h-separator {
            .arrow {
                img {
                    transform: rotate(150deg);
                }
            }
        }
        .device_cont {
            overflow: visible;
            width: 100%;
        }
    }

    .historial-cont {
        max-height: 30vh;
        height: 100%;
        .historial {
            height: 100%;
            justify-self: flex-end;
            position: relative;
            padding-top: 15px;
            .title {
                color: white;
                height: 100%;
                position: absolute;
                width: 100%;
                height: 30px;
                bottom: 0;
                left: 0;
                margin: 0;
                padding-left: 30px;
                transition: .5s all ease-in-out;
                span {
                    display: block;
                    font-size: 1.25rem;
                }
            }
            .h-separator {
                position: absolute;
                width: 100%;
                height: 8px;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                background: #fbc658;
                .arrow {
                    background: rgba(255, 255, 255, .7);
                    padding-left: 20px;
                    padding-right: 20px;
                    line-height: 8px;
                    cursor: pointer;
                    img {
                        width: 7px;
                        transform: rotate(90deg);
                        transition: .5s all ease-in-out;
                    }
                }
            }
        }
    }
}

#toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 37px;
    margin: 10px;
    background: rgba(0,0,0,.5);
    z-index: 100;
    padding: 1rem;
    border-radius: 9px;
    cursor: pointer;
}

.menu-cont {
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 100;
}
  
#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}
  
#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}
  
  /* on activation */
#toggle.on span {
    background-color: transparent;
}
#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}
#menu.on {
    opacity: 1;
    visibility: visible;
}
  
/* menu appearance*/
#menu {
    position: relative;
    color: #999;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}
#menu:after {
    position: absolute;
    top: -15px;
    right: 25px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}
ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
}
li a:hover,
li a:focus {
    background: #51bcda;
    color: #fff;
}