<div class="row history-container {{show ? 'open' : 'closed'}}">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="report" (change)="changeReport()">
                        <option value="0">Selecciona un reporte</option>
                        <option value="1">Ruta</option>
                        <option value="2">Eventos</option>
                        <option value="3">Viajes</option>
                        <option value="4">Paradas</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="pt-2">Dispositivo: </label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="device" (change)="deviceChange()">
                        <option value="0">todos</option>
                        <option *ngFor="let dev of devices" value="{{dev.id}}"> {{ dev.name }} </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="pt-2">Periodo: </label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="period" (change)="changePeriod()">
                        <option value="1">Hoy</option>
                        <option value="2">Ayer</option>
                        <option value="3">Esta semana</option>
                        <option value="4">Semana anterior</option>
                        <option value="5">Mes actual</option>
                        <!-- <option value="6">Personalizado</option> -->
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row loading-cont" *ngIf="loading">
                    <img src="assets/img/loading.gif" alt="loading" width="100" height="100">
                </div>
                <table class="table" *ngIf="report == 1">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Color</th>
                            <th scope="col">Nombre Dispositivo</th>
                            <th scope="col">Válida</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Latitud</th>
                            <th scope="col">Longitud</th>
                            <th scope="col">Altitud</th>
                            <th scope="col">Velocidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of table_routes_parsed">
                            <td>{{ data.route }}</td>
                            <td> <span class="square" [style.background]="data.color"></span></td>
                            <td>{{ data.device }}</td>
                            <td>{{ data.valid }}</td>
                            <td>{{ data.serverTime }}</td>
                            <td>{{ data.latitude }}</td>
                            <td>{{ data.longitude }}</td>
                            <td>{{ data.altitude }}</td>
                            <td>{{ data.speed }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" *ngIf="report == 2">
                    <thead>
                        <tr>
                            <th scope="col">Hora</th>
                            <th scope="col">Nombre Dispositivo</th>
                            <th scope="col">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of table_events" (click)="selectEvent(dev)">
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ formarHour(data.serverTime) }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ getDeviceName(data.deviceId) }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ formatType(data.type) }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" *ngIf="report == 3">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Dispositivo</th>
                            <th scope="col">Hora Inicio</th>
                            <th scope="col">Hora Fin</th>
                            <th scope="col">Odometro Inicial</th>
                            <th scope="col">Odometro Final</th>
                            <th scope="col">Distancia</th>
                            <th scope="col">Velocidad promedio</th>
                            <th scope="col">Velocidad máxima</th>
                            <th scope="col">Duración</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of table_trips" (click)="selectTrip(data)">
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ data.deviceName }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ formarHour(data.startTime) }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ formarHour(data.endTime) }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ meters2km(data.startOdometer) }} Km</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ meters2km(data.endOdometer) }} Km</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ meters2km(data.distance) }} Km</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ getSpeed(data.averageSpeed) }} Km/h</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ getSpeed(data.maxSpeed) }} Km/h</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ milli2hours(data.duration) }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" *ngIf="report == 4">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Dispositivo</th>
                            <th scope="col">Hora Inicio</th>
                            <th scope="col">Hora Fin</th>
                            <th scope="col">Odometro</th>
                            <th scope="col">Distancia</th>
                            <th scope="col">Duración</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of table_stops" (click)="selectStops(data)">
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ data.deviceName }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ formarHour(data.startTime) }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ formarHour(data.endTime) }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ meters2km(data.endOdometer) }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ meters2km(data.distance) }}</td>
                            <td class="{{ data.deviceId == idSelected ? 'active' : '' }}">{{ milli2hours(data.duration) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>