.history-container {
    transition: .5s all ease-in-out;
    height: 100%;
    padding: .5rem;
    overflow: auto;
}

.form-control {
    border-bottom-color: #DDDDDD;
}

.row.open {
    margin-left: -15px;
    * {
        margin-left: 0;
    }
}

.row.closed {
    margin-left: -999px;
    * {
        margin-left: -999px;
    }
}

.table {
    .active {
        background: #6ec7e0 !important;
    }
    .offline {
        background: #ffe1b5;
    }
    .online {
        background: #68EDC1;
    }
}

.square {
    border: 1px solid #272727;
    display: block;
    width: 1rem;
    height: 1rem;
}

.loading-cont {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
}