<div class="row justify-content-center">
    <div class="col-sm-10">
        <ng2-smart-table [settings]="settings" [source]="source" (create)="onCreate($event)" (edit)="onEdit($event)"
            (delete)="onDelete($event)">
        </ng2-smart-table>
    </div>
</div>