<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <a id="toggle" class="{{ classToggle }}" (click)="toggleMenu()"><span></span></a>

            <div class="menu-cont">
                <div id="menu" class="{{ classToggle }}">
                    <ul>
                        <li *ngIf="is_admin"><a (click)="newUser()">Agregar usuario</a></li>
                        <li *ngIf="is_admin"><a (click)="newDevice()">Agregar autos</a></li>
                        <li><a (click)="logout()">cerrar sesion</a></li>
                    </ul>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>