<div class="row justify-content-center cont">
    <div class="col-sm-10">
        <h3 class="mb-4">Agregar un cliente</h3>
        <form [formGroup]="Form" validate (submit)="onSubmit()">

            <div class="form-group">
                <label>Nombre del dispositivo</label>
                <input 
                    type="text"
                    class="form-control"
                    placeholder=""
                    formControlName="name">
            </div>
            
            <div class="form-group">
                <label>Numero de SIM</label>
                <input
                    type="number"
                    class="form-control"
                    placeholder=""
                    formControlName="numsim">
            </div>

            <div class="form-group">
                <label>IMEI Password</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    formControlName="imeipassword">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-warning ml-2" (click)="cancel()">Cancelar</button>
        </form>
    </div>
</div>